.regularTau {
  background:url('/static/cards.jpg?v=2') no-repeat scroll 0 0 white;
}

.classicTau {
  background:url('/static/classiccards.jpg?v=4') no-repeat scroll 0 0 white;
}

.colourBlindClassicTau {
  background:url('/static/colourblindclassiccards.jpg?v=3') no-repeat scroll 0 0 white;
}

.smallRegularTau {
  background:url('/static/smallcards.jpg?v=5') no-repeat scroll 0 0 white;
}

.smallClassicTau {
  background:url('/static/smallclassiccards.jpg?v=3') no-repeat scroll 0 0 white;
}

.smallColourBlindClassicTau {
  background:url('/static/smallcolourblindclassiccards.jpg?v=3') no-repeat scroll 0 0 white;
}

.projectiveTau {
  background:url('/static/projcards.jpg?v=9') no-repeat scroll 0 0 white;
}

.projectiveTauNew {
  background:url('/static/projcardsnew.jpg?v=1') no-repeat scroll 0 0 white;
}

.nearTau {
  background:url('/static/neartau.jpg?v=6') no-repeat scroll 0 0 white;
}

.booleanTau {
  background:url('/static/bqcards.jpg?v=2') no-repeat scroll 0 0 white;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

.regularTau {
  background:url('/static/cards@2x.jpg?v=2') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.classicTau {
  background:url('/static/classiccards@2x.jpg?v=4') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.colourBlindClassicTau {
  background:url('/static/colourblindclassiccards@2x.jpg?v=3') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.smallRegularTau {
  background:url('/static/smallcards@2x.jpg?v=5') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.smallClassicTau {
  background:url('/static/smallclassiccards@2x.jpg?v=3') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.smallColourBlindClassicTau {
  background:url('/static/smallcolourblindclassiccards@2x.jpg?v=3') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.projectiveTauNew {
  background:url('/static/projcardsnew@2x.jpg?v=1') no-repeat scroll 0 0 white;
  background-size:5040px 120px;
}

.nearTau {
  background:url('/static/neartau@2x.jpg?v=6') no-repeat scroll 0 0 white;
  background-size:320px 120px;
}

.booleanTau {
  background:url('/static/bqcards@2x.jpg?v=2') no-repeat scroll 0 0 white;
  background-size:5120px 120px;
}
}
