b {
  font-weight:bold;
}

body.ended {
  background-color:lightgreen;
}

.padded {
  padding-top:10px;
  padding-bottom:10px;
}

#about p, #welcome p {
  line-height:15px;
  margin-top:9px;
  margin-bottom:15px;
}

#about ul {
  margin-top:15px;
  margin-bottom:15px;
}

#about li {
  line-height:17px;
  padding-left:5px;
}

#about i {
  font-style:italic;
}

#about b {
  font-weight:bold;
}

#about h2 {
  font-size:20px;
  font-weight: bold;
  margin-top:15px;
  margin-bottom:15px;
}

#about h3 {
  font-size:17px;
  font-weight: bold;
  margin-top:15px;
  margin-bottom:15px;
}

#about h4 {
  font-size:14px;
  font-weight: bold;
  margin-top:15px;
  margin-bottom:15px;
}

#about h5 {
  font-weight: bold;
  margin-top:15px;
  margin-bottom:15px;
}

h2 {
  font-size:20px;
  font-weight: bold;
}

h4 {
  font-size:14px;
  font-weight: bold;
  padding-bottom:2px;
}

#game_panel h4 {
  margin-top:15px;
}

body {
  font-family: sans-serif;
  font-size:13px;
  margin:8px;
}

table {
  border-collapse:collapse;
  border-style:none;
}

.leaderboard {
  margin:13px;
  width:375px;
  line-height:1.4em;
}

.leaderboard_container {
  float:left;
  width:400px;
  padding:20px;
}

.leaderboard_menu {
  padding-top:5px;
  padding-bottom:5px;
}

.leaderboard thead {
  text-align:left;
}

.leaderboard th {
  font-size: 14px;
  color: #039;
  border-bottom: 2px solid #6678B1;
  padding: 10px 8px;
}

.leaderboard tbody tr:hover td {
  color: #009;
}

.leaderboard td {
  color: #669;
  padding: 9px 8px 0;
}

.leaderboard .recap_link {
  color: #669;
  text-decoration:none;
}

.leaderboard .recap_link:hover {
  color: #009;
}

.leaderboard_back_to_top_link {
  color:#AAA;
  display:inline-block;
  float:right;
  text-decoration:none;
}

.games_list {
  margin-top:5px;
  margin-bottom:5px;
}

#game_panel {
  margin-top:15px;
  margin-bottom:15px;
}

#scores {
  padding-top: 10px;
  padding-bottom: 10px;
}

#scores tr {
  margin-top:2px;
  margin-bottom:2px;
}

.score_name {
  padding-right: 5px;
  text-align:right;
}

#time, .rank {
  margin-top:10px;
  margin-bottom:10px;
}

#playing_area {
  min-height:384px;
  position:relative;
}

#start, #paused, #connecting {
  position:absolute;
  top:45%;
  left:160px;
  display:block;
}

#chat {
  border-top: 1px solid #CCC;
  padding-top: 2px;
  height: 7em;
  width:348px;
  overflow:auto;
  margin-top: 4px;
  background-color:white;
}

.bottomRow div {
  margin-bottom:0;
}

#training_options {
  margin-bottom:10px;
}

#buttons {
  margin-top:10px;
}

.hint {
  background-color:#EFE !important;
}

.name, .status {
  color: #999;
}

/* have to include border in width/height */
.fakeCard {
  width:82px;
  height:122px;
  margin-right:6px;
  margin-bottom:6px;
  background-color:transparent;
}

.realCard {
  height:120px;
  width:80px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-right:6px;
  margin-bottom:6px;
  background-color:white;
}

.regularTau {
  background:url('/static/cards.png?v=2') no-repeat scroll 0 0 white;
}

.classicTau {
  background:url('/static/classiccards.jpg?v=4') no-repeat scroll 0 0 white;
}

.colourBlindClassicTau {
  background:url('/static/colourblindclassiccards.png?v=3') no-repeat scroll 0 0 white;
}

.smallRegularTau {
  background:url('/static/smallcards.png?v=5') no-repeat scroll 0 0 white;
}

.smallClassicTau {
  background:url('/static/smallclassiccards.png?v=3') no-repeat scroll 0 0 white;
}

.smallColourBlindClassicTau {
  background:url('/static/smallcolourblindclassiccards.png?v=3') no-repeat scroll 0 0 white;
}

.projectiveTau {
  background:url('/static/projcards.png?v=9') no-repeat scroll 0 0 white;
}

.nearTau {
  background:url('/static/neartau.png?v=6') no-repeat scroll 0 0 white;
}

.booleanTau {
  background:url('/static/bqcards.png?v=2') no-repeat scroll 0 0 white;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

.regularTau {
  background:url('/static/cards@2x.png?v=2') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.classicTau {
  background:url('/static/classiccards@2x.png?v=4') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.colourBlindClassicTau {
  background:url('/static/colourblindclassiccards@2x.png?v=3') no-repeat scroll 0 0 white;
  background-size:6480px 120px;
}

.smallRegularTau {
  background:url('/static/smallcards@2x.png?v=5') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.smallClassicTau {
  background:url('/static/smallclassiccards@2x.png?v=3') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.smallColourBlindClassicTau {
  background:url('/static/smallcolourblindclassiccards@2x.png?v=3') no-repeat scroll 0 0 white;
  background-size:3240px 60px;
}

.nearTau {
  background:url('/static/neartau@2x.png?v=6') no-repeat scroll 0 0 white;
  background-size:320px 120px;
}

.booleanTau {
  background:url('/static/bqcards@2x.png?v=2') no-repeat scroll 0 0 white;
  background-size:5120px 120px;
}
}

.selectedCard {
  -moz-box-shadow:2px 2px 2px #fbb;
  -webkit-box-shadow:2px 2px 2px #fbb;
  box-shadow:2px 2px 2px #fbb;
  border-color:red;
  border-width:1px;
  border-style:solid;
}

.unselectedCard {
  -moz-box-shadow:2px 2px 2px #ddd;
  -webkit-box-shadow:2px 2px 2px #ddd;
  box-shadow:2px 2px 2px #ddd;
  border-color:#bbb;
  border-width:1px;
  border-style:solid;
}

.smallCard {
  height:60px;
  width:40px;
  -webkit-border-radius:2.5px;
  -moz-border-radius:2.5px;
  margin-right:3px;
  margin-bottom:3px;
  -moz-box-shadow:1px 1px 1px #ddd;
  -webkit-box-shadow:1px 1px 1px #ddd;
  box-shadow:1px 1px 1px #ddd;
  border-color:#bbb;
  border-width:1px;
  border-style:solid;
  display:inline-block;
}

#found_puzzle_taus {
  margin-left:20px;
  padding:5px 2px 5px 5px;
  height:396px;
  width:135px;
  border:1px solid #CCC;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -moz-box-shadow:2px 2px 2px #ddd;
  -webkit-box-shadow:2px 2px 2px #ddd;
  box-shadow:2px 2px 2px #ddd;
}
