h2 {
  font-size:20px;
  font-weight: bold;
}

h4 {
  font-size:14px;
  font-weight: bold;
  padding-bottom:2px;
}

body {
  font-family: sans-serif;
  font-size:13px;
  margin:8px;
}

table {
  border-collapse:collapse;
  border-style:none;
}

#scores {
  padding-top: 10px;
  padding-bottom: 10px;
}

#scores tr {
  margin-top:2px;
  margin-bottom:2px;
}

.score_name {
  padding-right: 5px;
  text-align:right;
}

#time {
  padding-top:10px;
  padding-bottom:10px;
}

#playing_area {
  min-height:384px;
  position:relative;
}

#start {
  position:absolute;
  top:45%;
  left:160px;
  display:block;
}

#chat {
  border-top: 1px solid #CCC;
  padding-top: 2px;
  height: 7em;
  width:348px;
  overflow:auto;
  margin-top: 4px;
}

.fakeCard, .realCard {
  background-color:white;
}

.hint {
  background-color:green !important;
}

.name {
  color: #999;
}

/* have to include border in width/height */
.fakeCard {
  width:82px;
  height:122px;
}

.realCard {
  height:120px;
  width:80px;
  background:url('/static/cards.png') no-repeat scroll 0 0 white;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-right:6px;
  margin-bottom:6px;
}

.selectedCard {
  -moz-box-shadow:2px 2px 2px #fbb;
  -webkit-box-shadow:2px 2px 2px #fbb;
  box-shadow:2px 2px 2px #fbb;
  border-color:red;
  border-width:1px;
  border-style:solid;
}

.unselectedCard {
  -moz-box-shadow:2px 2px 2px #ddd;
  -webkit-box-shadow:2px 2px 2px #ddd;
  box-shadow:2px 2px 2px #ddd;
  border-color:#bbb;
  border-width:1px;
  border-style:solid;
}
