{% extends chrome.html %}

{% block title %}About{% end %}

{% block body %}
<div>
  <a href="/">Back to games</a>
</div>

<div id="about">
  <h2>About</h2>

  <p>taugame.com was created by <a href="http://jsharpe.ca">Jeremy Sharpe</a>. Its code is available on <a href="https://github.com/jasharpe/websockettau">github</a>. It is implemented using websockets, with a Python server using Tornado, and a javascript client. You can contact me with any questions or comments at <a href="mailto:jsharpe@taugame.com">jsharpe@taugame.com</a>.

  <p>Thanks to Marsha Falco and SET{{ u"\u00ae" }} Enterprises for inventing and publishing <a href="http://www.setgame.com/">SET{{ u"\u00ae" }}</a>, the game which inspired many of the games implemented on this site.

  <h2 id="controls">Controls</h2>

  <p>Click on cards to select and deselect them. When you click on the cards that form a Tau, they will be removed from the board and you will be credited with the Tau. If they don't disappear, then probably what you clicked on was not a Tau, or the server is being slow.

  <h3 id="keyboard_shortcuts">Keyboard Shortcuts</h3>

  <p>If using a laptop or desktop computer, you should learn to play Tau with the keyboard. It allows you to select Taus far faster than is possible with the mouse.
  
  <p>The keyboard simply corresponds to what's on the screen. For example, the letters Q, A, and Z, the left side of the keyboard, correspond to the left column of the Tau board. So Q selects the top left card, A the middle left card, and Z the bottom left card. Similarly, W, S, and X correspond to the second column, E, D, and C to the third, etc. If extra columns are added, this scheme continues as you'd expect. T, G, and B correspond to the fifth column, Y, H, and N to the sixth column, etc.

  <p>Some other keyboard shortcuts are:

  <ul>
    <li><i>P</i>: go to the chat
    <li><i>L</i>: pause/unpause the game (available only in single player games)
    <li><i>K</i>: get hint (available only in training games)
  </ul>

  <p>If you use Dvorak, enable Dvorak keyboard shortcuts on the <a href="/settings">Settings</a> page.
  
  <h3>Mobile</h3>

  <p>taugame.com is designed to work well on mobile devices, such as phones and tablets. If this isn't the case, please <a href="mailto:jsharpe@taugame.com">contact me</a> and let me know the device that doesn't work well, as well as what's not working for you, and I'll try to fix it.

  <h2>Rules</h2>

  <p>
  {% set first = True %}  
  {% for (game_type, game_label) in [('3tau', '3 Tau'), ('6tau', '6 Tau'), ('g3tau', 'Generalized 3 Tau'), ('i3tau', 'Insane 3 Tau'), ('e3tau', 'Easy 3 Tau'), ('4tau', '4 Tau'), ('3ptau', 'Projective Tau'), ('z3tau', 'Puzzle 3 Tau'), ('4otau', '4 Outer Tau'), ('n3tau', 'Near 3 Tau'), ('sbqtau', 'Quad Tau'), ('bqtau', 'Large Quad Tau')] %}
    {% if not first %}|{% end %}
    <a href="#rules{{ game_type }}">{{ game_label }}</a>
    {% set first = False %}
  {% end %}
  </p>
  
  <h3 id="rules3tau">3 Tau</h3>

  <p>Each of the 81 cards in the 3 Tau deck has 4 properties with 3 possible values each:
  
  <ul>
    <li><i>Colour</i>: one of red, green, and blue</li>
    <li><i>Number</i>: one of 1, 2, and 3</li>
    <li><i>Shading</i>: one of empty, shaded, and solid</li>
    <li><i>Shape</i>: one of circle, square, and triangle</li>
  </ul>

  <p>A few examples of 3 Tau cards, showing all available properties, are:

  {% raw cards[('triangle', 'shaded', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'red')] %}
  {% raw cards[('square', 'solid', 'one', 'blue')] %}

  <p>A 3 Tau is a group of 3 cards such that <b>for each of the 4 properties, all 3 cards are either <i>all different</i> or <i>all the same</i> in that property</b>.

  <p>For example, the following is a 3 Tau:

  {% raw cards[('circle', 'shaded', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'green')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}

  <p>The shapes are all the same, the shadings are all different, the numbers are all different, and the colours are all the same.

  <p>This is also a 3 Tau:

  {% raw cards[('triangle', 'shaded', 'two', 'green')] %}
  {% raw cards[('triangle', 'shaded', 'two', 'blue')] %}
  {% raw cards[('triangle', 'shaded', 'two', 'red')] %}

  <p>These cards differ only in colour. Their shapes, shadings, and numbers are all the same.

  <p>This is <i>not</i> a 3 Tau:

  {% raw cards[('square', 'shaded', 'two', 'green')] %}
  {% raw cards[('square', 'shaded', 'three', 'green')] %}
  {% raw cards[('triangle', 'shaded', 'one', 'red')] %}

  <p>While the cards have all the same shading, and all different numbers, the other properties are wrong. Two of the cards are squares, while only one is a triangle, and two are green, while only one is red.

  <p>A useful restatement of the 3 Tau property is that <b>if two cards are the same, and the third one is different, it's not a 3 Tau</b>.

  <h3 id="rules6tau">6 Tau</h3>

  <p>6 Tau is an extension of 3 Tau, where instead of finding Taus with 3 cards each, you find Taus with 6 cards each. There are a couple of ways to explain what constitutes a 6 Tau.

  <h4>Non-Mathematical Explanation</h4>

  <p>Since 6 Tau is a mathematical extension of 3 Tau, its original definition is mathematical. That said, a 6 Tau can be defined in a way analogous to a 3 Tau - but it's questionable if an effective strategy for 6 Tau exists that can be explained in non-mathematical terms.

  <p>A 6 Tau is a group of 6 cards such that <b>for each of the 4 properties, the 6 cards can be split up into 2 groups of 3 cards such that each of the groups is either <i>all the same</i> or <i>all different</i> on that property, and the 6 cards cannot be split into two 3 Taus.</b> Note that a group of 6 cards that can be split into two 3 Taus is called a <i>trivial</i> 6 Tau, and trivial 6 Taus are not allowed because they're too easy to find!

  <h4>Mathematical Explanation</h4>

  <p>First, let's look at the mathematical statement of 3 Tau:
  
  <p>Each of the cards in the Tau deck can be thought of as a 4 dimensional vector over the integers <a href="http://en.wikipedia.org/wiki/Modular_arithmetic">mod</a> 3 (where values for each property are assigned to 0, 1, and 2 arbitrarily). That is, the card

  {% raw cards[('circle', 'solid', 'three', 'green')] %}

  <p>could be thought of as (0, 2, 2, 1), where 0 in the first position means circle, 2 in the second position means solid, 2 in the third position means three, and 1 in the last position means green, and

  {% raw cards[('square', 'solid', 'one', 'blue')] %}

  <p>could be thought of as (1, 2, 0, 2), where 1 in the first position means square, 2 in the second position means solid, 0 in the third position means one, and 2 in the last position blue, and finally

  {% raw cards[('triangle', 'solid', 'two', 'red')] %}

  <p>could be thought of as (2, 2, 1, 0), where 2 in the first position means triangle, 2 in the second position means solid, 1 in the third position means two, and 0 in the last position red.

  <p>Now, the three cards shown above make a 3 Tau, but notice also that if you add up the vectors representing them (remembering that they're over the integers mod 3), you get (0, 2, 2, 1) + (1, 2, 0, 2) + (2, 2, 1, 0) = (0, 0, 0, 0), the zero vector.

  <p>It turns out that 3 cards form a 3 Tau if and only if the three vectors representing these cards (under an arbitrary assignment of property values to the integers mod 3) sum to the zero vector. This is actually a non-trivial result, but verifiable with simple case analysis.

  <p>6 Tau is the same game, but with groups of 6 cards instead of 3 cards. So, a 6 Tau is a group of 6 cards such that <b>the sum of the vectors representing the 6 cards (under an arbitrary assignment of property values to the integers mod 3) is the zero vector, and the 6 cards cannot be split into two 3 Taus</b>. As above, note that a group of 6 cards that can be split into two 3 Taus is called a <i>trivial</i> 6 Tau, and trivial 6 Taus are not allowed because they're too easy to find! This definition is equivalent to the non-mathematical definition above. Again, this is a non-trivial fact, but verifiable with some simple case analysis.

  <h4>Strategies for 6 Tau</h4>

  <p>6 Tau is a difficult game, and at first it seems unapproachable. While there is a relatively simple way to check if a group of 6 cards constitute a 6 Tau (by using the non-mathematical definition above), it is difficult to come up with those cards in the first place. Fortunately, there are a couple of good strategies to assist in finding 6 Taus.

  <h5 id="4cardstrategy">4 card strategy</h5>

  <p>The first strategy, the <b>4 card strategy</b>, relies on the ability to play 3 Tau well. In particular, given 2 cards, you need to be able to figure out the unique third card that completes the 3 Tau (or <i>negasum</i>. (Mathematically, if you have two cards A and B, what you are doing in this operating is computing C = -(A + B) (hence why it's called a negasum). This completes the 3 Tau since A + B + C = A + B - (A + B) = 0.)

  <p>The strategy goes as follows: First, select 4 cards on the board, A, B, C, and D (make sure they don't contain a 3 Tau!). Now, compute (in your head) the unique third cards that complete a 3 Tau with the pairs A, B, and C, D. These two "virtual" cards in your head we will call E and F. Now, compute the unique third card that completes a 3 Tau with E and F. Call this "virtual" card G. Now try to find two cards H and I on the board that complete a 3 Tau with G. If you can, then A, B, C, D, H, and I are a 6 Tau (as long as it isn't trivial)!

  <p>This works because, using the 3 Tau property stated above, E = -(A + B), F = -(C + D), G = -(E + F), and G = -(H + I). Putting these together, we get:

  <p>A + B + C + D + H + I = -E - F - G = -(E + F) + (E + F) = 0

  <p>Here's an example of using this strategy to find a 6 Tau. Suppose that we select these 4 cards from the board:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}
  {% raw cards[('triangle', 'solid', 'three', 'red')] %}

  <p>The virtual card created by the two cards on the left is:

  {% raw cards[('triangle', 'empty', 'one', 'red')] %}

  <p>The virtual card created by the two cards on the right is:

  {% raw cards[('square', 'solid', 'two', 'blue')] %}

  <p>The virtual card created by the combination of the two above virtual cards is:

  {% raw cards[('circle', 'shaded', 'three', 'green')] %}

  <p>Now suppose we found these two cards on the board:

  {% raw cards[('circle', 'shaded', 'two', 'red')] %}
  {% raw cards[('circle', 'shaded', 'one', 'blue')] %}

  <p>These two cards make a 3 Tau with the last virtual card, so these two with the original 4 make a 6 Tau. Unfortunately, this is a trivial 6 Tau since

  {% raw cards[('circle', 'shaded', 'two', 'red')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}

  <p>is a 3 Tau (the other 3 cards also form a 3 Tau).

  <p>However, suppose we instead found these cards:

  {% raw cards[('square', 'solid', 'two', 'red')] %}
  {% raw cards[('triangle', 'empty', 'one', 'blue')] %}

  <p>Then we have found a 6 Tau, since this group of 6 cards contains no 3 Tau:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}
  {% raw cards[('triangle', 'solid', 'three', 'red')] %}
  {% raw cards[('square', 'solid', 'two', 'red')] %}
  {% raw cards[('triangle', 'empty', 'one', 'blue')] %}

  <p>You may verify for yourself that this is a correct 6 Tau.

  <p>This is actually a fairly effective strategy. Since there are usually many 6 Taus on a given board, you usually only have to try a few groups of 4 cards before finding a 6 Tau. Unfortunately, this strategy also requires a great deal of short term memory. You must remember your initial 4 cards, all while computing two virtual cards, which you must remember long to compute a third virtual card.

  <h5 id="3cardstrategy">3 card strategy (thanks to <a href="/leaderboard/alltime/stompy">stompy</a>)</h5>

  <p>The second strategy, or <b>3 card strategy</b>, is conceptually more complicated, but in practice requires less short term memory than the 4 card strategy. The basic idea is to choose 3 cards on the board, A, B, and C, and compute the card D = A + B + C. Then compute E = -D. Then, try to find another three cards F, G, H on the board such that F + G + H = E. Then A, B, C, F, G, and H are a 6 Tau (as long as it isn't trivial)!

  <p>Easier said than done! For example, what exactly does it mean to find the sum of 3 cards, or the negative of a card? It turns out that these operations don't make any sense unless you actually assign values from the integers mod 3 to each of the property values. For example, for the shading property, we must choose which of empty, shaded, and solid, go with which of 0, 1, and 2.

  <p>For this strategy, it is fortunately not necessary to disambiguate between 1 and 2. In this scheme, there is only one special property: the one we assign to 0. The other two behave the same as each other. For the purpose of this tutorial, we choose to make following properties our 0 values:

  <ul>
    <li><i>Colour</i>: Red (because red is the first of RGB)</li>
    <li><i>Number</i>: One (because it is the smallest number)</li>
    <li><i>Shading</i>: Empty (because a 0 is empty)</li>
    <li><i>Shape</i>: Circle (because a 0 is round)</li>
  </ul>

  <p>Within this framework, we can compute negative cards and arbitrary card sums. The reason that the assignments of 1 and 2 are interchangeable is that either way we assign A and B to 1 and 2, we get these properties (you can check these):

  <ul>
    <li>2A = B
    <li>2B = A
    <li>A + B = 0
  </ul>

  <p>These give us all the properties we need to compute sums without actually assigning 1 and 2 to properties. The first and second, for example, says that the sum of two equivalent non-zero values, is the other non-zero value. The third says that the sum of two different non-zero values is 0.

  <p>To compute a negative card, the process is that for each property, if the card has the 0 value of the property, then the negative card also has the 0 value of the property, since -0 = 0. Otherwise, the value of the property on the negative card is the other non-zero value. For example, negative red is red, since red is the zero colour, and negative blue is green, and negative green is blue. This process works analogously for the other properties.

  <p>To compute C = A + B, the process is that for each property:

  <ul>
    <li>If A's value is 0, and B's is 0, then C's is 0</li>
    <li>If A's value is non-zero and B's is 0, then C's is A's</li>
    <li>If A's value is 0 and B's is non-zero, then C's is B's</li>
    <li>If A's value is non-zero and B's is the same, then C's is the other non-zero value</li>
    <li>If A's value is non-zero and B's is the other non-zero value, then C's is 0</li>
  </ul>

  <p>It takes some time to get used to these rules, but after a while they become intuitive. Computing a 3 card sum is a straightforward extension of this process. Putting the negation process and the 3 card sum process together allows us to execute the strategy as described at the beginning of this section.

  <p id="sumexample">For example, suppose you initially choose the following 3 cards:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}

  <p>The sum of these cards is:

  {% raw cards[('square', 'solid', 'one', 'green')] %}

  <p>This is because:

  <ul>
    <li>Square + Circle + Circle = Square + 0 + 0 = Square
    <li>Empty + Empty + Solid = 0 + 0 + Solid = Solid
    <li>Two + Three + One = (Two + Three) + 0 = 0 + 0 = 0 = One
    <li>Green + Blue + Green = (Green + Blue) + Green = 0 + Green = Green
  </ul>

  <p>The negative of this card is:

  {% raw cards[('triangle', 'shaded', 'one', 'blue')] %}

  <p>Now, suppose we found the following 3 cards on the board:

  {% raw cards[('triangle', 'solid', 'three', 'red')] %}
  {% raw cards[('square', 'solid', 'two', 'red')] %}
  {% raw cards[('triangle', 'empty', 'one', 'blue')] %}

  <p>The sum of these cards is:

  {% raw cards[('triangle', 'shaded', 'one', 'blue')] %}

  <p>This is equal to the negative of the first three cards and these 6 cards together hold no 3 Taus, so we have found a 6 Tau:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}
  {% raw cards[('triangle', 'solid', 'three', 'red')] %}
  {% raw cards[('square', 'solid', 'two', 'red')] %}
  {% raw cards[('triangle', 'empty', 'one', 'blue')] %}

  <p><i>Tip</i>: An easy way to make this strategy less taxing on your short term memory, is to only remember the properties of the virtual cards that differ from 0. So, for example, if you were trying to remember a empty shaded red square, you'd only have to remember shaded square, since the other properties are 0.

  <h5>Other strategies</h5>

  <p>There are probably more strategies that exist for 6 Tau. If you come up with one, please let me know and I'll put it here.

  <h3 id="rulesg3tau">Generalized 3 Tau</h3>

  <p>Generalized 3 Tau is another mathematical extension of 3 Tau. In 6 Tau, a proscribed assignment of values to card properties is useful for the <a href="#3cardstrategy">3 card strategy</a>, but which groups of 6 cards constitute a 6 Tau does not depend on this assignment. Generalized 3 Tau, by contrast, has a specific assignment of 0, 1, and 2 to the card properties, and what constitutes a Generalized 3 Tau depends on this assignment.

  <p>Fortunately, this assignment does not need to be fully described. As in the <a href="#3cardstrategy">3 card strategy</a> for 6 Tau, there is only need to assign a 0 for each property. After that, the assignment of 1 and 2 is not important.

  <p>Generalized 3 Tau uses the same assignment of 0 property values as the <a href="#3cardstrategy">3 card strategy</a> for 6 Tau. The 0's are:

  <ul>
    <li><i>Colour</i>: Red (because red is the first of RGB)</li>
    <li><i>Number</i>: One (because it is the smallest number)</li>
    <li><i>Shading</i>: Empty (because a 0 is empty)</li>
    <li><i>Shape</i>: Circle (because a 0 is round)</li>
  </ul>

  <p>Thus the <i>0 card</i> is:

  {% raw cards[('circle', 'empty', 'one', 'red')] %}

  <p>In Generalized 3 Tau, there are up to 13 cards shown at any given time. One of these cards is the <i>target</i> card, which sits to the right, and the rest form a board, similar to the 3 Tau board. A Generalized 3 Tau is a group of 3 cards A, B, and C, such that <b>the sum of the cards A, B, and C, under the assignment of property values to integers given above, is equal to the <i>target</i> card</b>.
  
  <p>An interesting fact to observe is that if the target card is the <i>0 card</i>, then a Generalized 3 Tau is just a 3 Tau (this is why it is called generalized); if the target card has just one non-zero property, then a Generalized 3 Tau is a <i>near 3 Tau</i> (that is, a 3 Tau that is wrong in exactly the one property); etc.

  <p>For example, suppose the target card is this:

  {% raw cards[('square', 'solid', 'one', 'green')] %}

  <p>The following 3 cards <a href="#sumexample">sum up to this target card</a>, so these 3 are a Generalized 3 Tau:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'empty', 'three', 'blue')] %}
  {% raw cards[('circle', 'solid', 'one', 'green')] %}

  <h4>Strategy</h4>

  <p>The definition above can seem a bit intimidating, so here is a simple brute force strategy to get you started. This strategy is similar in flavour to the <a href="4cardstrategy">4 card strategy</a> for 6 Tau, and is fairly effective.

  <p>Suppose the target card is card T. Choose any card A on the board. Compute the <i>negasum</i> of A with the 0 card (one empty red circle) to get card B. That is, B is the unique third card such that A, 0, B is a 3 Tau. Compute the negasum of B with T to get C. Now, if you can find cards D, E such that D, E, C is a 3 Tau, then A, D, E is a Generalized 3 Tau! If you can't find D, E that work, try with a different card for A.

  <p>Here's an example. Suppose the target card is:

  {% raw cards[('square', 'solid', 'two', 'green')] %}

  <p>Choose a card on the board. Suppose this card is on the board:

  {% raw cards[('triangle', 'shaded', 'one', 'blue')] %}

  <p>Calculate the negasum (unique third card) of this card and the 0 card (one empty red circle):

  {% raw cards[('square', 'solid', 'one', 'green')] %}

  <p>Calculate the negasum (unique third card) of this card and the target card:

  {% raw cards[('square', 'solid', 'three', 'green')] %}

  <p>Suppose the following two cards are on the board:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('square', 'shaded', 'one', 'green')] %}

  <p>These make a 3 Tau with the above card, so this is a Generalized 3 Tau:

  {% raw cards[('triangle', 'shaded', 'one', 'blue')] %}
  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('square', 'shaded', 'one', 'green')] %}

  <p>Why does this work? Well, you're trying to find 3 cards A, B, C such that A + B + C = T. Computing the negasum of A with 0 gives -A (since A + 0 + -A = 0, and is thus a 3 Tau). Computing the negasum of -A with T (or B with T in the explanation above) gives -(-A + T), since (-A + T + -(-A + T) = 0, and is thus a 3 Tau). Now if we find cards B, C that form a 3 Tau with -(-A + T), we have B + C + -(-A + T) = 0. Moving things around, we get A + B + C = T, which is exactly what we want.

  <p>It turns out this strategy is very effective. On a 12 card board, a randomly selected card has at least a 3/12, or 1/4 chance, of being part of a Generalized 3 Tau. In practice, when there is more than one Generalized 3 Tau present on the board, this probability is much higher.  This means that even on pathological boards, there is a greater than 50% chance of finding a Generalized 3 Tau on the first 3 tries. Of course, the drawback of this strategy is it might take up to 10 initial card guesses (assuming perfect checking) to find the Generalized 3 Tau, if it's hiding in the last 3 that you check.

  <h3 id="rulesi3tau">Insane 3 Tau</h3>

  <p>Finding Taus in Insane 3 Tau is the same as in 3 Tau, except here the deck is stacked against you: the dealer tries to deal cards such that there is only one tau present.

  <h3 id="rulese3tau">Easy 3 Tau</h3>

  <p>Similar to Insane 3 Tau, except the dealer tries to make boards with a lot of Taus.

  <h3 id="rules4tau">4 Tau</h3>

  <i>Thanks to ara for suggesting 4 Tau, and realizing that 4 Tau does not depend on card property value to number assignments, thus making it a purer version of Generalized 3 Tau.</i>

  <p>4 Tau is a mathematical extension of 3 Tau that is similar to Generalized 3 Tau but doesn't depend on choice of zero. In 4 Tau, you are given a target card T, and are asked to find 4 cards A, B, C, D such that A + B + C + D = T. This is equivalent to: there are cards X and Y such that A, B, X is a 3 Tau, C, D, Y is a 3 Tau, and X, Y, T is a 3 Tau.

  <p>For example, suppose the target card is this:

  {% raw cards[('square', 'solid', 'one', 'green')] %}

  <p>The following 4 cards sum up to this target card, so these 4 are a 4 Tau:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'shaded', 'two', 'green')] %}
  {% raw cards[('circle', 'solid', 'two', 'red')] %}
  {% raw cards[('circle', 'solid', 'one', 'blue')] %}

  <p>Using the other definition, it's a 4 Tau because all of the following are 3 Taus:

  {% raw cards[('square', 'empty', 'two', 'green')] %}
  {% raw cards[('circle', 'shaded', 'two', 'green')] %}
  {% raw cards[('triangle', 'solid', 'two', 'green')] %}
  <br/>
  <br/>
  {% raw cards[('circle', 'solid', 'two', 'red')] %}
  {% raw cards[('circle', 'solid', 'one', 'blue')] %}
  {% raw cards[('circle', 'solid', 'three', 'green')] %}
  <br/>
  <br/>
  {% raw cards[('triangle', 'solid', 'two', 'green')] %}
  {% raw cards[('circle', 'solid', 'three', 'green')] %}
  {% raw cards[('square', 'solid', 'one', 'green')] %}

  <h4>Strategy</h4>

  <p>There is a simple brutce force strategy for 4 Tau, similar to that for Generalized 3 Tau (although considerably less efficient).

  <p>Suppose the target card is card T. Choose any two cards A, B on the board. Compute card C, the <i>negasum</i> of A and B (so A, B, and C are a 3 Tau). Now compute D, the negasum of C and T (so D, C, and T are a 3 Tau). If there are cards E, F on the board such that E, F, D are a 3 Tau, then A, B, E, F are a 4 Tau.

  <p>This works because C = -(A + B), and D = -(C + T), and D = -(E + F), so A + B + E + F = -C - D = -C + (C + T) = T, which is exactly what we want.

  <p>It turns out that unlike the bruce force strategy for Generalized 3 Tau, this strategy is not very effective. The problem is that you have to initially choose two cards, instead of just one. This means that the chance of a correct guess is much lower. If, for example, there is only one 4 Tau on the board, then there is only a 4 / 12 * 3 / 11 chance (about 9%) that you will choose two cards out of the 4 Tau, whereas for Generalized 3 Tau there is a 25% chance of correctly choosing the first card. Plus in Generalized 3 Tau, you have to try at most 10 cards before finding one that works, but in 4 Tau, you may have to try up to 66 (11 + 10 + 9 + ... + 1).

  <p>A more effective long-term strategy for 4 Tau is to play it similarly to the 3-card strategy for 6 Tau. This will enable you to "see" 4 Taus, rather than relying on blind brute force.

  <h3 id="rules3ptau">Projective Tau</h3>

  <p><i>Thanks to Benjamin Lent Davis and Diane Maclagan (who wrote <a href="http://homepages.warwick.ac.uk/staff/D.Maclagan/papers/set.pdf">this paper</a>) for describing Projective Tau, and (according to that paper) H. Tracy Hall for devising a good format for the cards.</i>

  <p>Unlike many of the other Tau variants, Projective Tau actually uses a different deck, and while its mathematical definition is similar to 3 Tau (although with some significant differences), it feels quite different to play. At first, for someone already good at 3 Tau, it seems much more difficult. Over time, however, you will develop an intuitive sense for Projective Taus, just as in 3 Tau. In fact, Projective Tau is arguably easier than 3 Tau, as there are, on average, more Projective Taus per 12 card board than 3 Taus per 12 card board.

  <p>Each of the 63 cards in the Projective Tau deck has 3 properties with 4 possible values each:
  
  <ul>
    <li><i>Chess</i>: one of blank, pawn, knight, and rook</li>
    <li><i>Astronomical</i>: one of blank, sun, star, and meteors</li>
    <li><i>Suit</i>: one of blank, club, heart, and diamond</li>
  </ul>

  <p>A few examples of Projective Tau cards, showing all available properties, are:

  {% raw projcards[('', 'sun', 'club')] %}
  {% raw projcards[('pawn', '', 'diamond')] %}
  {% raw projcards[('knight', 'star', '')] %}
  {% raw projcards[('rook', 'meteors', 'heart')] %}

  <p>A Projective Tau is a group of 3 cards such that <b>for each of the 3 properties, the 3 cards are either <i>all blank</i>, or <i>two the same and one blank</i>, or <i>all different and non-blank</i> in that property</b>. Notice that in Projective Tau, the blank property behaves differently from the other 3 properties. This is a bit different than 3 Tau, in which all 3 values of each property behaved identically.

  <p>For example, the following is a Projective Tau:

  {% raw projcards[('', 'sun', 'club')] %}
  {% raw projcards[('', 'sun', 'diamond')] %}
  {% raw projcards[('', '', 'heart')] %}

  <p>All three cards have blank chess property; two the same astronomical property (sun), and the other blank; and all different suit property.

  <p>The following is also a Projective Tau:

  {% raw projcards[('pawn', 'meteors', '')] %}
  {% raw projcards[('', 'sun', 'diamond')] %}
  {% raw projcards[('pawn', 'star', 'diamond')] %}

  <p>Two cards have the same chess property, and the other blank; all have different astronomical property; and two have the same suit property, and the other blank.

  <p>This is <i>not</i> a Projective Tau:

  {% raw projcards[('pawn', 'meteors', '')] %}
  {% raw projcards[('knight', 'sun', 'diamond')] %}
  {% raw projcards[('pawn', 'star', 'diamond')] %}

  <p>Two cards have pawn chess property, but the third does not have a blank chess property, it has knight.

  <p>This is also <i>not</i> a Projective Tau:

  {% raw projcards[('pawn', 'meteors', '')] %}
  {% raw projcards[('', 'sun', '')] %}
  {% raw projcards[('pawn', 'star', 'diamond')] %}

  <p>Two cards have blank suit property, but the third is not also blank.

  <p>This is also <i>not</i> a Projective Tau:

  {% raw projcards[('pawn', 'meteors', 'heart')] %}
  {% raw projcards[('rook', 'sun', 'heart')] %}
  {% raw projcards[('knight', '', '')] %}

  <p>The cards are all different in the astronomical property, but they are not also all non-blank in that property, so they don't fit the third rule.

  <p>A useful restatement of the Projective Tau property is that <b>if two cards are the same, and the third one is not blank, or if two non-blank cards are different, and the third one is not the third non-blank card, it's not a Projective Tau</b>.

  <h4>Mathematical Explanation</h4>

  <p>This game is based off the one described on page 17 of <a href="http://homepages.warwick.ac.uk/staff/D.Maclagan/papers/set.pdf">this paper</a>. For mathematical details look there.

  <p>The summary is that 3 Tau and Projective Tau are very deeply similar games, with only a couple of details changed, that end up making them feel quite different. In 3 Tau, the objective is to find 3 4-vectors over the integers mod 3 that sum to 0. In Projective Tau, the objective is to find 3 6-vectors over the integers mod 2 that sum to 0. This fact is slightly hidden due to the cards. 3 Tau cards are easy to visualize as 4-vectors, but how can the 3 property Projective Tau cards be 6-vectors?

  <p>The answer is that we represent the 6-vector using 3 properties as follows. Suppose you have a 6-vector (a, b, c, d, e, f) over the integers mod 2. (a, b) has 4 possible values (0, 0), (0, 1), (1, 0), and (1, 1). We represent these respectively by the chess property values of blank, pawn, knight, and rook. Similarly, the 4 possible values of (c, d) are represented by the astronomical property values of blank, sun, star, and meteors; and the 4 possible values of (e, f) are represented by the suit property values of blank, club, diamond, and heart.

  <p>You can check that the Projective Tau property above is equivalent to the sum of 6-vectors statement.

  <p>Why not a card with 6 binary dots (where the dot appears for a 1, and is absent for a 0)? It is simply more difficult to read and evaluate Projective Taus with this type of card, and it is equivalent to the above construction.

  <h3 id="rulesz3tau">Puzzle 3 Tau</h3>

  <p>Finding Taus in Puzzle 3 Tau is the same as in 3 Tau. The variation in this game is that you are given a board of 12 cards containing a total of 6 Taus, and finding Taus does not remove them from the board. Find all 6 of the Taus in the 12 cards to win.

  <h3 id="rules4otau">4 Outer Tau</h3>

  <p><i>Thanks to Wei-Hwa Huang for inventing and Tom Magliery for posting the <a href="http://magliery.com/Set/SuperSet.html">"SuperSet" SET{{ u"\u00ae" }} variant</a> on which 4 Outer Tau is based.</i>

  <p>A 4 Outer Tau is a group of 4 cards made up of 2 groups of 2 cards, such that the unique third card (using the rules of 3 Tau) of each pair of cards is the same.
  
  <p>Since there tend to be a lot of 4 Outer Taus, the 4 Outer Tau board has only 9 cards by default, dealing only to 12+ cards if there are no Taus in the initial 9 cards.

  <p>4 Outer Tau gets its name from the fact that you are essentially finding the symmetric difference of two Taus (or XOR, or the "Outer" join of two Taus).

  <p>For example, the following is a 4 Outer Tau:

  {% raw cards[('circle', 'shaded', 'two', 'green')] %}
  {% raw cards[('square', 'empty', 'two', 'green')] %}

  {% raw cards[('triangle', 'solid', 'three', 'blue')] %}
  {% raw cards[('triangle', 'solid', 'one', 'red')] %}

  <p>This is a 4 Outer Tau since this card makes a 3 Tau with both the first pair, and the second pair:

  {% raw cards[('triangle', 'solid', 'two', 'green')] %}

  <h4>Strategy</h4>

  <p>Here is a very simple brute force strategy for 4 Outer Tau to get you started. Simply select any two cards A, B, on the board, and figure out the unique third card C such that A, B, C is a 3 Tau. Now, if you can find different cards D, E such that C, D, E is a 3 Tau, then A, B, D, E is a 4 Outer Tau. If you can't find D, E, then simply choose a different A, B and try again.

  <h3 id="rulesn3tau">Near 3 Tau</h3>

  <p>In this variant of 3 Tau, a set of 3 cards is a Tau if it would be a 3 Tau by the ordinary rules, except that it's wrong in a designated property. All other properties must be correct.

  <p>The property that must be incorrect is shown by a special card to the right of the playing area.

  <p>The shape property must be wrong:

  {% raw nearcards['shape'] %}

  <p>The colour property must be wrong:

  {% raw nearcards['colour'] %}

  <p>The number property must be wrong:

  {% raw nearcards['number'] %}

  <p>The shading property must be wrong:

  {% raw nearcards['shading'] %}

  <p>For example, if the shading property must be wrong, then this is a Tau, because only the shading property is wrong:

  {% raw cards[('triangle', 'shaded', 'one', 'green')] %}
  {% raw cards[('triangle', 'solid', 'two', 'green')] %}
  {% raw cards[('triangle', 'solid', 'three', 'green')] %}

  <p>But this is not, because the colour property is also wrong:

  {% raw cards[('triangle', 'shaded', 'one', 'blue')] %}
  {% raw cards[('triangle', 'solid', 'two', 'green')] %}
  {% raw cards[('triangle', 'solid', 'three', 'green')] %}

  <h3 id="rulessbqtau">Quad Tau</h3>

  <p>There are three properties (colour, number, shape) with four values each.

  <p>The board has 9 cards from which players attempt to find Taus. If no Taus exist, an extra 3 cards are added. A Tau is four cards such that in each property, they are either all the same, have two values appearing twice each, or are all different.

  <p>In other words, the allowed cases are AAAA, AABB, ABCD, and the forbidden cases are AAAB and AABC.

  <p>A handy rule of thumb: if any two cards differ and the other two don't, it's not a Tau.

  <p>For example, the following is a Tau:

  {% raw quadcards[('square', 'three', 'blue')] %}
  {% raw quadcards[('square', 'two', 'blue')] %}
  {% raw quadcards[('diamond', 'four', 'blue')] %}
  {% raw quadcards[('diamond', 'one', 'blue')] %}

  <p>All cards are the same colour, there are two shape values (square and diamond) appearing twice each, and the numbers are all different.

  <p>Here's another example:

  {% raw quadcards[('square', 'three', 'yellow')] %}
  {% raw quadcards[('diamond', 'three', 'yellow')] %}
  {% raw quadcards[('circle', 'three', 'red')] %}
  {% raw quadcards[('triangle', 'three', 'red')] %}

  <p>All the shapes are different, all the numbers are the same, and the colours have two values, with two cards each.

  <p>This is <i>not</i> a Tau:

  {% raw quadcards[('square', 'three', 'green')] %}
  {% raw quadcards[('square', 'three', 'green')] %}
  {% raw quadcards[('square', 'one', 'green')] %}
  {% raw quadcards[('triangle', 'four', 'green')] %}

  <p>The shape property is wrong, because there are three of one value, and one of another. The number property is wrong, because there are two of one value, but one of each of two others. Only the colour property is correct.

  <h3 id="rulesbqtau">Large Quad Tau</h3>

  <p>Like Quad Tau, but with only 12 cards by default instead of 9.
</div>
{% end %}
