<!DOCTYPE html>
<html>
  <head>
    <title>Tau - Game List</title>

    <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
    <script>
      var see_more_ended = {{ see_more_ended }};
    </script>
    <script type="text/javascript" src="{{ static_url("game_list.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("time.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("reset.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("styles.css") }}" />
  </head>
  <body>
    <form style="display:inline-block;" name="new_game" action="/new_game/3tau" method="post">
      <input type="submit" value="New 3 Tau game" />
    </form>

    <form style="display:inline-block;" name="new_game" action="/new_game/6tau" method="post">
      <input type="submit" value="New 6 Tau game" />
    </form>

    <form style="display:inline-block;" name="new_game" action="/new_game/g3tau" method="post">
      <input type="submit" value="New Generalized 3 Tau game" />
    </form>

    <form style="display:inline-block;" name="new_game" action="/new_game/i3tau" method="post">
      <input type="submit" value="New Insane 3 Tau game" />
    </form>

    <div id="game_panel">
      {% for (id, label) in [("newgames", "New games"), ("startedgames", "Started games"), ("endedgames", "Ended games")] %}
      <div id="{{ id }}" style="display:none;">
        <h4>{{ label }}</h4>
        <ul class="games_list"></ul>
      </div>
      {% end %}
    </div>

    <div id="links">
      <a href="/leaderboard/alltime">Leaderboard</a> |
      <a href="/graph/{{ player }}">Graph</a> |
      <a href="/choose_name">Change name</a> |
      <a href="/about">About / Rules</a>
    </div>
  </body>
</html>
