{% extends chrome.html %}

{% block title %}Game List{% end %}

{% block scripts %}
<script>
  var see_more_ended = {{ see_more_ended }};
</script>
<script type="text/javascript" src="{{ static_url("game_list.js") }}"></script>
{% end %}

{% block body %}
{% for (game_type, game_type_string) in game_type_info %}
<form style="display:inline-block;" name="new_game" action="/new_game/{{ game_type }}" class="new_game_form" method="post">
  <input type="submit" value="New {{ game_type_string }} game" />
</form>
{% end %}
<div>
  <input id="training" type="checkbox"/><label for="training">Training</label>
</div>

<div id="game_panel">
  {% for (id, label) in [("newgames", "New games"), ("startedgames", "Started games"), ("endedgames", "Ended games")] %}
  <div id="{{ id }}" style="display:none;">
    <h4>{{ label }}</h4>
    <ul class="games_list"></ul>
  </div>
  {% end %}
</div>

<div id="links">
  <a href="/leaderboard/alltime">Leaderboard</a> |
  <a href="/choose_name">Change name</a> ({{ player }}) |
  <a href="/about">About / Rules</a>
</div>
{% end %}
