{% extends chrome.html %}

{% block title %}Game {{ game_id }} ({{ game_type }}){% if training %} (Training){% end %}{% end %}

{% block scripts %}
<script type="text/javascript">
  var debug = {{ debug }};
  var game_id = "{{ game_id }}";
  var game_size = {{ game.size }};
  var game_type = "{{ game.type }}";
  var user_name = "{{ user_name }}";
  var game_type_info = {
    {% for (game_type1, game_type_string) in game_type_info %}
    "{{ game_type1 }}" : "{{ game_type_string }}",
    {% end %}
  };
  var training = {{ "true" if training else "false" }};
</script>
<script type="text/javascript" src="{{ static_url("jquery-ui.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("tau.js") }}"></script>
{% end %}

{% block body %}
<h2>Tau - Game {{ game_id }} ({{ game_type }}){% if training %} (Training){% end %}</h2>
<div>
  <div id="scores">
    <h4>Scores</h4>
    <table id="score_list"></table>
  </div>
  <div id="playing_area">
    {% if not game.started %}
      <a id="start" tabindex="5" href="javascript:void(0);">Start</a>
    {% end %}
  </div>
  <div id="time"></div>
  <div id="rank"></div>
  <div id="new_game"></div>
</div>

<div>
  <div id="chat">loading...</div>
  <div>
    <input style="display:inline-block;" tabindex="-1" type="text" id="chat_box" disabled="disabled" />
    <button style="display:inline-block;" id="say" disabled="disabled">Say</button>
    <span>(press 'p' to enter chat)</span>
  </div>
</div>

<div>
  <a href="/" tabindex="50">Back to games</a> | <a href="/about#rules{{ game.type }}">Rules</a>
</div>
{% end %}
