{% from mytime import fmt_time %}

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("reset.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("styles.css") }}" />
  </head>
  <body>
    <div>
    {% for (leaderboard_type, leaderboard_type_label) in leaderboard_types %}
    {% if leaderboard_type == selected_leaderboard_type %}
      <span>{{ leaderboard_type_label }}</span>
    {% else %}
      <a href="/leaderboard/{{ leaderboard_type }}">{{ leaderboard_type_label }}</a>
    {% end %}
    {% if not leaderboard_type == "today" %}
    |
    {% end %}
    {% end %}
    </div>
    {% for game_type in [3, 6] %}
    <div style="float:left; width:300px;padding:25px;">
      <h2>{{ game_type }} Tau</h2>
      {% for (num_players, scores) in all_high_scores[str(game_type) + "tau"].items() %}
        <h4>{{ num_players }} players</h4>
        <table class="leaderboard">
          <thead><tr><th>Time</th><th>Players</th><th>Date</th></tr></thead>
          <tbody>
          {% for score in scores %}
            <tr>
              <td>{{ fmt_time(score.elapsed_time) }}</td>
              <td>{{ ", ".join(sorted(map(lambda x: "%s (%s)" % (x.name, score.player_scores()[x.name]), score.players))) }}</td>
              <td>{{ score.date.strftime("%b %d %Y %I:%M%p") }}</td>
            </tr>
          {% end %}
          </tbody>
        </table>
      {% end %}
    </div>
    {% end %}

    <div style="clear:both;"></div>
    
    <div>
      <a href="/">Back to games</a>
    </div>
  </body>
</html>
