{% extends chrome.html %}

{% block title %}{{ "Leaderboard" if not players else ("Tau - %s's High Scores" % (", ".join(players)))}}{% end %}

{% block scripts %}
<script>
var players = ["{{ '", "'.join(players) }}"];
$(document).ready(function() {
  $("#go_to_user_form").submit(function(e) {
    e.preventDefault();
    if ($("#user_name").val()) {
      window.location = window.location.origin + "/leaderboard/{{ selected_leaderboard_type }}/" + $("#user_name").val();
    }
  });
  $("#add_user_form").submit(function(e) {
    e.preventDefault();
    var new_url = window.location.origin + "/leaderboard/{{ selected_leaderboard_type }}/" + "{{ "/".join(players) }}" + "/" + $("#added_user_name").val();
    {% if conjunction is not None %}
    new_url += "/{{ conjunction }}";
    {% else %}
    new_url += "/or";
    {% end %}
    if ($("#added_user_name").val()) {
      window.location = new_url;
    }
  });
});
</script>
{% end %}

{% block body %}
{% from mytime import fmt_time %}
{% from strlib import oxford %}
{% from datetime import timedelta %}

<div class="leaderboard_menu">
  <a href="/">Back to games</a>
</div>

<div class="leaderboard_menu">
{% if leaderboard_object == "players/" %}
<a href="/leaderboard/{{ selected_leaderboard_type }}/{% if players %}{{ "/".join(players) }}/{% if conjunction %}{{ conjunction }}{% end %}{% end %}">Top Scores</a> | <span>Top Players</span>
{% else %}
  <span>Top Scores</span> | <a href="/leaderboard/players/{{ selected_leaderboard_type }}/{% if players %}{{ "/".join(players) }}/{% if conjunction %}{{ conjunction }}{% end %}{% end %}">Top Players</a>
{% end %}
</div>

<div class="leaderboard_menu">
{% for (i, (leaderboard_type, leaderboard_type_label)) in enumerate(leaderboard_types) %}
{% if leaderboard_type == selected_leaderboard_type and not players %}
  <span>{{ leaderboard_type_label }}</span>
{% else %}
  <a href="/leaderboard/{{ leaderboard_object }}{{ leaderboard_type }}">{{ leaderboard_type_label }}</a>
{% end %}
{% if i != len(leaderboard_types) - 1 %}|{% end %}
{% end %}
</div>

<div class="leaderboard_menu">
{% if players %}
<span>High scores including {{ oxford(players, conjunction) }}:</span>
  {% for (i, (leaderboard_type, leaderboard_type_label)) in enumerate(leaderboard_types) %}
    {% if leaderboard_type == selected_leaderboard_type %}
    <span>{{ leaderboard_type_label }}</span>
    {% else %}
      {% if conjunction is not None %}
      <a href="/leaderboard/{{ leaderboard_object }}{{ leaderboard_type }}/{{ "/".join(players) }}/{{ conjunction }}">{{ leaderboard_type_label }}</a>
      {% else %}
      <a href="/leaderboard/{{ leaderboard_object }}{{ leaderboard_type }}/{{ "/".join(players) }}">{{ leaderboard_type_label }}</a>
      {% end %}
    {% end %}
    {% if i != len(leaderboard_types) - 1 %}|{% end %}
  {% end %}
  {% if conjunction is not None %}
  -
    {% if conjunction == "and" %}
    <span>and</span> | <a href="/leaderboard/{{ leaderboard_object }}{{ selected_leaderboard_type }}/{{ "/".join(players) }}/or">or</a>
    {% else %}
    <a href="/leaderboard/{{ leaderboard_object }}{{ selected_leaderboard_type }}/{{ "/".join(players) }}/and">and</a> | <span>or</span>
    {% end %}
  {% end %}
{% end %}
</div>

{% if players %}
<form name="add_user" id="add_user_form">
  <input type="text" id="added_user_name" name="name" />
  <input type="submit" value="Add user" />
</form>
{% end %}

<form name="go_to_user" id="go_to_user_form">
  <input type="text" id="user_name" name="name" />
  <input type="submit" value="Go to user" />
</form>

<div class="leaderboard_menu">
{% set first = True %}  
{% for (game_type, game_type_string) in game_type_info %}
{% if not first %}|{% end %}
<a href="#{{ game_type }}">{{ game_type_string }}</a>
{% set first = False %}
{% end %}
</div>

{% for (game_type, game_type_string) in game_type_info %}
{% if game_type in all_high_scores %}
<div class="leaderboard_container">
  <h2 style="display:inline-block;" id="{{ game_type }}">{{ game_type_string }}</h2> <a class="leaderboard_back_to_top_link" href="#">back to top</a>
  {% for (num_players, scores) in all_high_scores[game_type].items() %}
    <h4>{{ num_players }} players</h4>
    <table class="leaderboard">
      <thead><tr><th>Time</th><th>Players</th><th>Date</th></tr></thead>
      <tbody>
      {% for score in scores %}
        <tr>
          <td>{{ fmt_time(score.elapsed_time) }}</td>
          <td>
            {% set processed_players = sorted(score.players, None, lambda x: x.name) %}
            {% for (i, player) in enumerate(processed_players) %}
            <a href="/leaderboard/{{ leaderboard_object }}{{ selected_leaderboard_type }}/{{ player.name }}">{{ player.name }}</a> ({{ score.player_scores()[player.name] }}){% if i != len(score.players) - 1 %}, {% end %}
            {% end %}
          </td>
          <td>{{ (score.date - timedelta(minutes=time_offset)).strftime("%b %d %Y %I:%M%p") }}</td>
        </tr>
      {% end %}
      </tbody>
    </table>
  {% end %}
</div>
{% end %}
{% end %}

<div style="clear:both;"></div>

<div>
  <a href="/">Back to games</a>
</div>
{% end %}
