{% extends chrome.html %}

{% block title %}Recap of Game {{ score.id }}{% end %}

{% block body %}
{% from mytime import fmt_time %}
{% from strlib import oxford %}
{% from datetime import timedelta %}

<div class="leaderboard_menu">
  <a href="/">Back to games</a>
</div>

<div>{{ (score.date - timedelta(minutes=time_offset)).strftime("%b %d %Y %I:%M%p") }}</div>
<div>{{ game_type_info[score.game_type] }}</div>
<div>Rank: #{{ rank }}</div>
<div>Players: {{ ','.join(players) }}</div>
<div>
  <p>Number of taus on the board: {{ ', '.join(num_taus) }}
  <p>Average number of taus: {{ "{0:.2f}".format(avg_taus) }}
</div>
{% end %}
