{% extends chrome.html %}

{% block title %}Settings{% end %}

{% block scripts %}
<script>
$(function() {
  $("#classic_cards").attr("checked", $.cookie("classic_cards") !== "false");
  $("#classic_cards").change(function() {
    $.cookie("classic_cards",
      $(this).is(":checked"),
      {expires: 99999, path:'/'}
    );
  });
  $("#colour_blind").attr("checked", $.cookie("colour_blind") === "true");
  $("#colour_blind").change(function() {
    $.cookie("colour_blind",
      $(this).is(":checked"),
      {expires: 99999, path:'/'}
    );
  });
  $("#new_card_animation").attr("checked", $.cookie("new_card_animation") !== "false");
  $("#new_card_animation").change(function() {
    $.cookie("new_card_animation",
      $(this).is(":checked"),
      {expires: 99999, path:'/'}
    );
  });
  $("#new_projective_cards").attr("checked", $.cookie("new_projective_cards") === "true");
  $("#new_projective_cards").change(function() {
    $.cookie("new_projective_cards",
      $(this).is(":checked"),
      {expires: 99999, path:'/'}
    );
  });
});
</script>
{% end %}

{% block body %}
<h2>Settings (stored as cookies)</h2>

<div class="padded">
  <div><input id="classic_cards" type="checkbox"/><label for="classic_cards">Classic cards</label></div>
  <div><input id="colour_blind" type="checkbox"/><label for="colour_blind">Colour blind cards</label></div>
  <div><input id="new_card_animation" type="checkbox"/><label for="new_card_animation">New card animation</label></div>
  <div><input id="new_projective_cards" type="checkbox"/><label for="new_projective_cards">New Projective Tau cards</label></div>
</div>

<div>
  <a href="/">Back to games</a>
</div>
{% end %}
