{% import json %}
{% from constants import GAME_TYPE_INFO %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
    <script type="text/javascript">
      var game_type = "{{ game_type }}";
      var game_type_info = {% raw json.dumps(dict(GAME_TYPE_INFO)) %};
      var game_type_to_taus = {% raw json.dumps(game_type_to_taus) %};
    </script>
    <script type="text/javascript" src="{{ static_url("testframe.js") }}"></script>
  </head>
  <body>
    <div></div>
  </body>
</html>
